{{ define "index" }}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Photos MICK</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link href="style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
    />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  </head>
  <body hx-boost="true">
    <main id="container">
      <div
        id="media-list"
        hx-get="/api/medias"
        hx-trigger="load, mediaUpdated from:body"
        hx-swap="this"
        hx-indicator="#loader"
      >
        <p id="loader" class="htmx-indicator">En cours de chargement ...</p>
      </div>

      <div
        class="only-change"
        id="only-change"
        _="on click 
            toggle .active on me 
            toggle .opacity-modified on .media-item 
            if I do not match .active 
              remove .opacity-modified from .media-item
          end

          on htmx:afterOnLoad
            if I match .active
              add .opacity-modified to .media-item
          end"
      >
        Only Change
      </div>
    </main>
    {{ template "welcome_panel" . }} {{ template "media_details" . }}

    <footer id="error_popover">
      <div id="popover">
        <span id="popover__close">x</span>
        <p>Description de l'erreur</p>
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
{{ end }}
